week4/Cast.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cast">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Character" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation> Ninjas make no sound </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Diet" minOccurs="0"/>
              <xs:element type="xs:string" name="Sound" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="alive" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

